@import url("https://fonts.googleapis.com/css?family=Iceberg");


@keyframes revolve1 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 8;
    }
    20%{
        transform: scale(1.0) translateX(55vw);
        z-index: 8;
    }
    36%{
        transform: scale(.1) translateX(2100%);
        z-index: 8;
    }
    40%{
        transform: scale(.1) translateX(-275%);
        z-index: 1;
    }
    50%{
        transform: scale(.2) translateX(-400%);
        z-index: 1;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 1;
    }
}

@keyframes revolve2 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 6;
    }
    19%{
        transform: scale(1.0) translateX(45vw);
        z-index: 6;
    }
    31%{
        transform: scale(.1) translateX(1700%);
        z-index: 6;
    }
    44%{
        transform: scale(.1) translateX(-350%);
        z-index: 3;
    }
    50%{
        transform: scale(.2) translateX(-650%);
        z-index: 3;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 3;
    }
}

@keyframes revolve3 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 5;
    }
    19%{
        transform: scale(1.0) translateX(40vw);
        z-index: 5;
    }
    29%{
        transform: scale(.1) translateX(1300%);
        z-index: 5;
    }
    42%{
        transform: scale(.1) translateX(-450%);
        z-index: 4;
    }
    50%{
        transform: scale(.2) translateX(-1000%);
        z-index: 4;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 4;
    }
}

@keyframes revolve4 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 4;
    }
    12%{
        transform: scale(1.0) translateX(24vw);
        z-index: 4;
    }
    27%{
        transform: scale(.1) translateX(1050%);
        z-index: 4;
    }
    40%{
        transform: scale(.1) translateX(-600%);
        z-index: 4;
    }
    50%{
        transform: scale(.2) translateX(-1200%);
        z-index: 5;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 5;
    }
}

@keyframes revolve5 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 3;
    }
    7%{
        transform: scale(1.0) translateX(10vw);
        z-index: 3;
    }
    24%{
        transform: scale(.1) translateX(750%);
        z-index: 3;
    }
    34%{
        transform: scale(.1) translateX(-900%);
        z-index: 5;
    }
    50%{
        transform: scale(.2) translateX(-1450%);
        z-index: 6;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 6;
    }
}

@keyframes revolve6 {
    0%{
        transform: scale(1.0) translateX(0%);
        z-index: 2;
    }
    25%{
        transform: scale(.1) translateX(550%);
        z-index: 2;
    }
    33%{
        transform: scale(.1) translateX(-1100%);
        z-index: 2;
    }
    50%{
        transform: scale(.2) translateX(-1800%);
        z-index: 7;
    }
    100%{
        transform: scale(1.0) translateX(0%);
        z-index: 7;
    }
}


@keyframes spin {
    0%{
        transform: scale(1.0) rotateY(0deg);
    }
    100%{
        transform: scale(1.0) rotateY(360deg);
    }
}


section.name-animation{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.letter-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-family: 'Iceberg', cursive;
    font-size: 4vmax;
    background-color: blueviolet;
    height: 8vmax;
    width: 8vmax;
    margin-right: 1rem;
    border-radius: 50% 50%;
}


.letter-block:active{
    background: transparent;
    color: darkorchid;
}



#block-d:active::after{
    content: "MITRI";
    color: green;
}

#block-m:active::before{
    content: "D";
    color: green;
}

#block-m:active::after{
    content: "ITRI";
    color: green;
}

#block-i:active::before{
    content: "DM";
    color: green;
}

#block-i:active::after{
    content: "TRI";
    color: green;
}

#block-t:active::before{
    content: "DMI";
    color: green;
}

#block-t:active::after{
    content: "RI";
    color: green;
}

#block-r:active::before{
    content: "DMIT";
    color: green;
}

#block-r:active::after{
    content: "I";
    color: green;
}

#block-i2:active::before{
    content: "DMITR";
    color: green;
}

#block-d{
    animation: revolve1 10000ms linear 3750ms infinite;
}

#block-m{
    animation: revolve2 10000ms linear 3000ms infinite;
}

#block-i{
    animation: revolve3 10000ms linear 2250ms infinite;
}

#block-t{
    animation: revolve4 10000ms linear 1500ms infinite;
}

#block-r{
    animation: revolve5 10000ms linear 750ms infinite;
}

#block-i2{
    animation: revolve6 10000ms linear 0ms infinite;
}

.letter{
    animation: spin 6000ms linear infinite;
}