@import url('https://fonts.googleapis.com/css?family=Spectral');


html, body {
    min-height: 100%;
}

body {
    margin: 0;
    background: yellowgreen;
    font-family: Spectral, "Bookman Old Style", Tahoma,  serif;
    color: navy;
    font-size: 0.7em;
}

div{
    display: contents;
    width: 100vw;
}

h1{
    color:  rebeccapurple;
}


p{
    width: 75vw;
    padding-right: 25vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0;
}

ul{
    display: contents;
}

ul p::first-letter{
    color: mediumorchid;
}



/*p:hover{*/
/*    font-size: 0.9rem;*/
/*    color: darkslateblue;*/
/*}*/

/*p:nth-of-type(1):hover{*/
/*    font-size: inherit;*/
/*    color: navy;*/
/*}*/

/*ul p:nth-of-type(1):hover{*/
/*    font-size: 0.9rem;*/
/*    color: darkslateblue;*/
/*}*/



article{
    display: flex;
    flex-flow: column;
    margin: auto auto 4vh 3vw;
}

.value{
    color: blueviolet;
}



/*desktop version*/
@media screen and (min-width: 768px){

    html, body {
        min-height: 100%;
    }

    body {
        font-size: 120%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    p{
        width: 90ch;
        padding-right: calc(100vw - 90ch);
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 0;
    }

    /*p:nth-of-type(1):hover{*/
    /*    font-size: inherit;*/
    /*    color: navy;*/
    /*    width:90ch;*/
    /*}*/

    /*ul p:nth-of-type(1):hover{*/
    /*    font-size: 130%;*/
    /*    color: darkslateblue;*/
    /*    width:60ch;*/
    /*}*/

    /*p:hover{*/
    /*    font-size: 130%;*/
    /*    width:60ch;*/
    /*    padding-right: calc(100vw - 60ch);*/
    /*}*/

}



